<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roomPricelist">
            <h2><span>Room Pricelist</span> {{roomPricelist.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date From</span></dt>
                <dd>
                    <span>{{roomPricelist.dateFrom}}</span>
                </dd>
                <dt><span>Date To</span></dt>
                <dd>
                    <span>{{roomPricelist.dateTo}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{roomPricelist.price}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{roomPricelist.deleted}}</span>
                </dd>
                <dt><span>Room</span></dt>
                <dd>
                    <div *ngIf="roomPricelist.room">
                        <a [routerLink]="['/room', roomPricelist.room?.id, 'view']">{{roomPricelist.room?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/room-pricelist', roomPricelist.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
