<div>
    <h2 id="page-heading">
        <span>Hotel Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hotel-service" [routerLink]="['/hotel-service/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Hotel Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="hotelServices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Service Name</span></th>
            <th><span>Service Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hotelService of hotelServices ;trackBy: trackId">
                <td><a [routerLink]="['/hotel-service', hotelService.id, 'view' ]">{{hotelService.id}}</a></td>
                <td>{{hotelService.serviceName}}</td>
                <td>{{hotelService.serviceDescription}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hotel-service', hotelService.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hotel-service', hotelService.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'hotel-service/'+ hotelService.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
