<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hotelService">
            <h2><span>Hotel Service</span> {{hotelService.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Service Name</span></dt>
                <dd>
                    <span>{{hotelService.serviceName}}</span>
                </dd>
                <dt><span>Service Description</span></dt>
                <dd>
                    <span>{{hotelService.serviceDescription}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{hotelService.deleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hotel-service', hotelService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
