<div>
    <h2 id="page-heading">
        <span>Car Reservations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-car-reservation" [routerLink]="['/car-reservation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Car Reservation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="carReservations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date From</span></th>
            <th><span>Date To</span></th>
            <th><span>Status</span></th>
            <th><span>Price</span></th>
            <th><span>Discount</span></th>
            <th><span>Car Rental Rating</span></th>
            <th><span>Car Rating</span></th>
            <th><span>Deleted</span></th>
            <th><span>Car</span></th>
            <th><span>Car Reservation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let carReservation of carReservations ;trackBy: trackId">
                <td><a [routerLink]="['/car-reservation', carReservation.id, 'view' ]">{{carReservation.id}}</a></td>
                <td>{{carReservation.dateFrom | date:'medium'}}</td>
                <td>{{carReservation.dateTo | date:'medium'}}</td>
                <td>{{carReservation.status}}</td>
                <td>{{carReservation.price}}</td>
                <td>{{carReservation.discount}}</td>
                <td>{{carReservation.carRentalRating}}</td>
                <td>{{carReservation.carRating}}</td>
                <td>{{carReservation.deleted}}</td>
                <td>
                    <div *ngIf="carReservation.car">
                        <a [routerLink]="['../car', carReservation.car?.id, 'view' ]" >{{carReservation.car?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="carReservation.carReservation">
                        <a [routerLink]="['../reservation', carReservation.carReservation?.id, 'view' ]" >{{carReservation.carReservation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/car-reservation', carReservation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/car-reservation', carReservation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'car-reservation/'+ carReservation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
