<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-room-heading">Create or edit a Room</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!room.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="room.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bedsCount">Beds Count</label>
                    <input type="number" class="form-control" name="bedsCount" id="field_bedsCount"
                        [(ngModel)]="room.bedsCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_label">Label</label>
                    <input type="text" class="form-control" name="label" id="field_label"
                        [(ngModel)]="room.label" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="room.deleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_hotel">Hotel</label>
                    <select class="form-control" id="field_hotel" name="hotel" [(ngModel)]="room.hotel" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hotelOption.id === room.hotel?.id ? room.hotel : hotelOption" *ngFor="let hotelOption of hotels; trackBy: trackHotelById">{{hotelOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
