<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="room">
            <h2><span>Room</span> {{room.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Beds Count</span></dt>
                <dd>
                    <span>{{room.bedsCount}}</span>
                </dd>
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{room.label}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{room.deleted}}</span>
                </dd>
                <dt><span>Hotel</span></dt>
                <dd>
                    <div *ngIf="room.hotel">
                        <a [routerLink]="['/hotel', room.hotel?.id, 'view']">{{room.hotel?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/room', room.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
