<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flightSeatReservation">
            <h2><span>Flight Seat Reservation</span> {{flightSeatReservation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{flightSeatReservation.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{flightSeatReservation.lastName}}</span>
                </dd>
                <dt><span>Passport Number</span></dt>
                <dd>
                    <span>{{flightSeatReservation.passportNumber}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{flightSeatReservation.status}}</span>
                </dd>
                <dt><span>Flight Number</span></dt>
                <dd>
                    <span>{{flightSeatReservation.flightNumber}}</span>
                </dd>
                <dt><span>Seat Row</span></dt>
                <dd>
                    <span>{{flightSeatReservation.seatRow}}</span>
                </dd>
                <dt><span>Seat Col</span></dt>
                <dd>
                    <span>{{flightSeatReservation.seatCol}}</span>
                </dd>
                <dt><span>Business</span></dt>
                <dd>
                    <span>{{flightSeatReservation.business}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{flightSeatReservation.price}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{flightSeatReservation.discount}}</span>
                </dd>
                <dt><span>Hotel Rating</span></dt>
                <dd>
                    <span>{{flightSeatReservation.hotelRating}}</span>
                </dd>
                <dt><span>Room Rating</span></dt>
                <dd>
                    <span>{{flightSeatReservation.roomRating}}</span>
                </dd>
                <dt><span>Points Earned</span></dt>
                <dd>
                    <span>{{flightSeatReservation.pointsEarned}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{flightSeatReservation.deleted}}</span>
                </dd>
                <dt><span>Flight</span></dt>
                <dd>
                    <div *ngIf="flightSeatReservation.flight">
                        <a [routerLink]="['/flight', flightSeatReservation.flight?.id, 'view']">{{flightSeatReservation.flight?.id}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="flightSeatReservation.user">
                        <a [routerLink]="['/isa-user', flightSeatReservation.user?.id, 'view']">{{flightSeatReservation.user?.id}}</a>
                    </div>
                </dd>
                <dt><span>Reservation</span></dt>
                <dd>
                    <div *ngIf="flightSeatReservation.reservation">
                        <a [routerLink]="['/reservation', flightSeatReservation.reservation?.id, 'view']">{{flightSeatReservation.reservation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight-seat-reservation', flightSeatReservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
