<div>
    <h2 id="page-heading">
        <span>Flight Seat Reservations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flight-seat-reservation" [routerLink]="['/flight-seat-reservation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Flight Seat Reservation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="flightSeatReservations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Passport Number</span></th>
            <th><span>Status</span></th>
            <th><span>Flight Number</span></th>
            <th><span>Seat Row</span></th>
            <th><span>Seat Col</span></th>
            <th><span>Price</span></th>
            <th><span>Discount</span></th>
            <th><span>Hotel Rating</span></th>
            <th><span>Room Rating</span></th>
            <th><span>Points Earned</span></th>
            <th><span>Deleted</span></th>
            <th><span>Flight</span></th>
            <th><span>User</span></th>
            <th><span>Reservation</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flightSeatReservation of flightSeatReservations ;trackBy: trackId">
                <td><a [routerLink]="['/flight-seat-reservation', flightSeatReservation.id, 'view' ]">{{flightSeatReservation.id}}</a></td>
                <td>{{flightSeatReservation.firstName}}</td>
                <td>{{flightSeatReservation.lastName}}</td>
                <td>{{flightSeatReservation.passportNumber}}</td>
                <td>{{flightSeatReservation.status}}</td>
                <td>{{flightSeatReservation.flightNumber}}</td>
                <td>{{flightSeatReservation.seatRow}}</td>
                <td>{{flightSeatReservation.seatCol}}</td>
                <td>{{flightSeatReservation.price}}</td>
                <td>{{flightSeatReservation.discount}}</td>
                <td>{{flightSeatReservation.hotelRating}}</td>
                <td>{{flightSeatReservation.roomRating}}</td>
                <td>{{flightSeatReservation.pointsEarned}}</td>
                <td>{{flightSeatReservation.deleted}}</td>
                <td>
                    <div *ngIf="flightSeatReservation.flight">
                        <a [routerLink]="['../flight', flightSeatReservation.flight?.id, 'view' ]" >{{flightSeatReservation.flight?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="flightSeatReservation.user">
                        <a [routerLink]="['../isa-user', flightSeatReservation.user?.id, 'view' ]" >{{flightSeatReservation.user?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="flightSeatReservation.reservation">
                        <a [routerLink]="['../reservation', flightSeatReservation.reservation?.id, 'view' ]" >{{flightSeatReservation.reservation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/flight-seat-reservation', flightSeatReservation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flight-seat-reservation', flightSeatReservation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'flight-seat-reservation/'+ flightSeatReservation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
