<div>
    <h2 id="page-heading">
        <span>Friend Requests</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-friend-request" [routerLink]="['/friend-request/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Friend Request
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="friendRequests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Accepted</span></th>
            <th><span>Deleted</span></th>
            <th><span>Sender</span></th>
            <th><span>Reciver</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let friendRequest of friendRequests ;trackBy: trackId">
                <td><a [routerLink]="['/friend-request', friendRequest.id, 'view' ]">{{friendRequest.id}}</a></td>
                <td>{{friendRequest.accepted}}</td>
                <td>{{friendRequest.deleted}}</td>
                <td>
                    <div *ngIf="friendRequest.sender">
                        <a [routerLink]="['../isa-user', friendRequest.sender?.id, 'view' ]" >{{friendRequest.sender?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="friendRequest.reciver">
                        <a [routerLink]="['../isa-user', friendRequest.reciver?.id, 'view' ]" >{{friendRequest.reciver?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/friend-request', friendRequest.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/friend-request', friendRequest.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'friend-request/'+ friendRequest.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
