<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hotel">
            <h2><span>Hotel</span> {{hotel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{hotel.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{hotel.description}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{hotel.address}}</span>
                </dd>
                <dt><span>Stars</span></dt>
                <dd>
                    <span>{{hotel.stars}}</span>
                </dd>
                <dt><span>Lat</span></dt>
                <dd>
                    <span>{{hotel.lat}}</span>
                </dd>
                <dt><span>Lng</span></dt>
                <dd>
                    <span>{{hotel.lng}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{hotel.deleted}}</span>
                </dd>
                <dt><span>Company Location</span></dt>
                <dd>
                    <div *ngIf="hotel.companyLocation">
                        <a [routerLink]="['/company-location', hotel.companyLocation?.id, 'view']">{{hotel.companyLocation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hotel', hotel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
