<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-flight-stop-heading">Create or edit a Flight Stop</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flightStop.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="flightStop.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stopNumber">Stop Number</label>
                    <input type="number" class="form-control" name="stopNumber" id="field_stopNumber"
                        [(ngModel)]="flightStop.stopNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="flightStop.deleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_airport">Airport</label>
                    <select class="form-control" id="field_airport" name="airport" [(ngModel)]="flightStop.airport" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airportOption.id === flightStop.airport?.id ? flightStop.airport : airportOption" *ngFor="let airportOption of airports; trackBy: trackAirportById">{{airportOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flight">Flight</label>
                    <select class="form-control" id="field_flight" name="flight" [(ngModel)]="flightStop.flight" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="flightOption.id === flightStop.flight?.id ? flightStop.flight : flightOption" *ngFor="let flightOption of flights; trackBy: trackFlightById">{{flightOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
