<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flightStop">
            <h2><span>Flight Stop</span> {{flightStop.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Stop Number</span></dt>
                <dd>
                    <span>{{flightStop.stopNumber}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{flightStop.deleted}}</span>
                </dd>
                <dt><span>Airport</span></dt>
                <dd>
                    <div *ngIf="flightStop.airport">
                        <a [routerLink]="['/airport', flightStop.airport?.id, 'view']">{{flightStop.airport?.id}}</a>
                    </div>
                </dd>
                <dt><span>Flight</span></dt>
                <dd>
                    <div *ngIf="flightStop.flight">
                        <a [routerLink]="['/flight', flightStop.flight?.id, 'view']">{{flightStop.flight?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight-stop', flightStop.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
