<div>
    <div class="justify-content-center">
        <div class="col-8">
            <hr>
            <h2>Passengers info</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
        </div>
        <div>
            <div *ngFor="let flightSeatReservation of flightSeatReservationsDeparture; index as i ;trackBy: trackId" class="card mb-3 p-3">
                <form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">
                    <h2 id="jhi-flight-seat-reservation-heading">Passenger {{i+1}}</h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <label class="form-control-label" for="field_firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="field_firstName"
                                   [(ngModel)]="flightSeatReservationsDeparture[i].firstName"
                                    [disabled]="flightSeatReservationsDeparture[i].user"
                                   (input)="onInputChange($event, i, 'firstName')"
                                   required
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="field_lastName"
                                   [(ngModel)]="flightSeatReservationsDeparture[i].lastName"
                                   [disabled]="flightSeatReservationsDeparture[i].user"
                                   (input)="onInputChange($event, i, 'lastName')"
                                   required
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_passportNumber">Passport Number</label>
                            <input type="text" class="form-control" name="passportNumber" id="field_passportNumber"
                                   [(ngModel)]="flightSeatReservationsDeparture[i].passportNumber"
                                   (input)="onInputChange($event, i, 'passportNumber')"
                                   required
                            />
                        </div>

                    </div>
<!--                    <div>-->
<!--                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">-->
<!--                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>-->
<!--                        </button>-->
<!--                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">-->
<!--                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>-->
<!--                        </button>-->
<!--                    </div>-->
                </form>
            </div>
        </div>
        <div class="mt-3">
            <button type="submit"
                    (click)="finishReservationProcess($event)"
                    class="btn btn-success float-right"
                    *ngIf="showNextStepButtons"
            >
                <span>Finish Reservation</span>
            </button>

            <button type="submit"
                    (click)="continueToHotelBookingTab($event)"
                    class="btn btn-info float-right mr-2"
                    *ngIf="showNextStepButtons"

            >
                <span> Next Step &gt; Book Hotel</span>
            </button>


            <button (click)="onSaveClick()" id="save-entity" [disabled]="!areFormsValid()" class="btn btn-primary" *ngIf="!showNextStepButtons">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
            </button>


        </div>
    </div>
</div>
