<div>
    <div class="row justify-content-center">
        <div class="col-12">

            <div class="card mt-2 p-3">
                <h4>Search car rentals</h4>
                <hr class="mt-0 mb-1"/>
                <form name="searchFlightsForm" role="form" novalidate (ngSubmit)="search()" #editForm="ngForm">
                    <!--                  <h5 id="jhi-flight-heading">Search for flights</h5>-->
                    <div>
                        <!-- <jhi-alert-error></jhi-alert-error> -->
                        <div class="d-flex">
                            <div class="form-group mr-2">
                                <label class="form-control-label" for="field_checkInDate">Check-in Date</label>
                                <div class="d-flex">
                                    <input id="field_checkInDate" type="date" class="form-control" name="checkInDate" [(ngModel)]="searchFormData.checkInDate"
                                    />
                                </div>
                            </div>
                            <div class="form-group mr-4">
                                <label class="form-control-label" for="field_checkOutDate">Check-out Date</label>
                                <div class="d-flex">
                                    <input id="field_checkOutDate" type="date" class="form-control" name="checkOutDate" [(ngModel)]="searchFormData.checkOutDate"
                                    />
                                </div>
                            </div>

                        </div>

                        <div class="d-flex">
                            <div class="form-group mr-4">
                                <label class="form-control-label" for="field_adultsCount">Number of adults</label>
                                <select class="form-control" id="field_adultsCount" name="adultsCount" [(ngModel)]="searchFormData.adultsCount" >
                                    <option [ngValue]="null">Select...</option>
                                    <option [ngValue]="1">1</option>
                                    <option [ngValue]="2">2</option>
                                    <option [ngValue]="3">3</option>
                                    <option [ngValue]="4">4</option>
                                    <option [ngValue]="5">5</option>
                                    <option [ngValue]="6">6</option>
                                </select>
                            </div>
                            <div class="form-group mr-2">
                                <label class="form-control-label" for="field_city">City</label>
                                <select class="form-control" id="field_city" name="city" [(ngModel)]="searchFormData.city" >
                                    <option [ngValue]="null">Select...</option>
                                    <option [ngValue]="city.id" *ngFor="let city of cities; trackBy: cityId">{{city.name}}</option>
                                </select>
                            </div>
                            <div class="form-group mr-2">
                                <label class="form-control-label" for="field_company">City</label>
                                <select class="form-control" id="field_company" name="comapanyId" [(ngModel)]="searchFormData.companyId" >
                                    <option [ngValue]="null">Select...</option>
                                    <option [ngValue]="company.id" *ngFor="let company of companies; trackBy: companyId">{{company.name}}</option>
                                </select>
                            </div>

                            <div class="form-group justify-bottom ml-4">
                                <label class="form-control-label" for="save-entity">&nbsp;</label>
                                <button type="submit" id="save-entity" [disabled]="false" class="form-control btn btn-primary">
                                    <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--    AIRLINES CARD    -->
            <div class="card mt-2 p-3">
                <h4>Available car rental companies</h4>
                <div class="table-responsive" *ngIf="companyLocations">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>Company</span></th>
                            <th><span>Address</span></th>
                            <th><span>City</span></th>
                            <th><span>Phone</span></th>
                            <th><span>Email</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let companyLocation of companyLocations | companyLocationTypeFilter:{type: 'CAR_RENTAL'} ;trackBy: trackId">
                            <td>{{companyLocation.company.name + ' - ' +  companyLocation.city.name}}</td>
                            <td>{{companyLocation.address}}</td>
                            <td>{{companyLocation.city.name}}</td>
                            <td>{{companyLocation.phone}}</td>
                            <td>{{companyLocation.email}}</td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['/company-location', companyLocation.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/company-location', companyLocation.id, 'edit']"
                                            class="btn btn-primary btn-sm"
                                            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CAR_RENTAL_ADMIN']"
                                    >
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'company-location/'+ companyLocation.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm"
                                            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_CAR_RENTAL_ADMIN']"
                                    >
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
