<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-flight-heading">Create or edit a Flight</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flight.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="flight.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_departureTime">Departure Time</label>
                    <div class="d-flex">
                        <input id="field_departureTime" type="datetime-local" class="form-control" name="departureTime" [(ngModel)]="departureTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_arrivalTime">Arrival Time</label>
                    <div class="d-flex">
                        <input id="field_arrivalTime" type="datetime-local" class="form-control" name="arrivalTime" [(ngModel)]="arrivalTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flightDuration">Flight Duration</label>
                    <input type="number" class="form-control" name="flightDuration" id="field_flightDuration"
                        [(ngModel)]="flight.flightDuration" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flightDistance">Flight Distance</label>
                    <input type="number" class="form-control" name="flightDistance" id="field_flightDistance"
                        [(ngModel)]="flight.flightDistance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="flight.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_businessPrice">Business Price</label>
                    <input type="number" class="form-control" name="businessPrice" id="field_businessPrice"
                        [(ngModel)]="flight.businessPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_discount">Discount</label>
                    <input type="number" class="form-control" name="discount" id="field_discount"
                        [(ngModel)]="flight.discount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="flight.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="flight.deleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_departureAirport">Departure Airport</label>
                    <select class="form-control" id="field_departureAirport" name="departureAirport" [(ngModel)]="flight.departureAirport" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airportOption.id === flight.departureAirport?.id ? flight.departureAirport : airportOption" *ngFor="let airportOption of airports; trackBy: trackAirportById">{{airportOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_arrivalAirport">Arrival Airport</label>
                    <select class="form-control" id="field_arrivalAirport" name="arrivalAirport" [(ngModel)]="flight.arrivalAirport" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airportOption.id === flight.arrivalAirport?.id ? flight.arrivalAirport : airportOption" *ngFor="let airportOption of airports; trackBy: trackAirportById">{{airportOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_plane">Plane</label>
                    <select class="form-control" id="field_plane" name="plane" [(ngModel)]="flight.plane" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="planeOption.id === flight.plane?.id ? flight.plane : planeOption" *ngFor="let planeOption of planes; trackBy: trackPlaneById">{{planeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
