<div>
    <h2 id="page-heading">
        <span>Flights</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-flight" [routerLink]="['/flight/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Flight
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="flights">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Departure Time</span></th>
            <th><span>Arrival Time</span></th>
            <th><span>Flight Duration</span></th>
            <th><span>Flight Distance</span></th>
            <th><span>Stops Count</span></th>
            <th><span>Price</span></th>
            <th><span>Discount</span></th>
            <th><span>Code</span></th>
            <th><span>Departure Airport</span></th>
            <th><span>Arrival Airport</span></th>
            <th><span>Plane</span></th>
            <th><span>Company</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flight of flights ;trackBy: trackId">
                <td><a [routerLink]="['/flight', flight.id, 'view' ]">{{flight.id}}</a></td>
                <td>{{flight.departureTime | date:'medium'}}</td>
                <td>{{flight.arrivalTime | date:'medium'}}</td>
                <td>{{flight.flightDuration}}</td>
                <td>{{flight.flightDistance}}</td>
                <td>{{flight.stopsCount}}</td>
                <td>{{flight.price}}</td>
                <td>{{flight.discount}}</td>
                <td>{{flight.code}}</td>
                <td>
                    <div *ngIf="flight.departureAirport">
                        <a [routerLink]="['../airport', flight.departureAirport?.id, 'view' ]" >{{flight.departureAirport?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="flight.arrivalAirport">
                        <a [routerLink]="['../airport', flight.arrivalAirport?.id, 'view' ]" >{{flight.arrivalAirport?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="flight.plane">
                        <a [routerLink]="['../plane', flight.plane?.id, 'view' ]" >{{flight.plane?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="flight.company">
                        <a [routerLink]="['../company', flight.company?.id, 'view' ]" >{{flight.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/flight', flight.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/flight', flight.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'flight/'+ flight.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
