<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="flight">
            <h2><span>Flight</span> {{flight.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Departure Time</span></dt>
                <dd>
                    <span>{{flight.departureTime}}</span>
                </dd>
                <dt><span>Arrival Time</span></dt>
                <dd>
                    <span>{{flight.arrivalTime}}</span>
                </dd>
                <dt><span>Flight Duration</span></dt>
                <dd>
                    <span>{{flight.flightDuration}}</span>
                </dd>
                <dt><span>Flight Distance</span></dt>
                <dd>
                    <span>{{flight.flightDistance}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{flight.price}}</span>
                </dd>
                <dt><span>Business Price</span></dt>
                <dd>
                    <span>{{flight.businessPrice}}</span>
                </dd>
                <dt><span>Free Bags</span></dt>
                <dd>
                    <span>{{flight.freeBags}}</span>
                </dd>
                <dt><span>Free Carry On Bags</span></dt>
                <dd>
                    <span>{{flight.freeCarryOnBags}}</span>
                </dd>
                <dt><span>Price Per Additional Bag</span></dt>
                <dd>
                    <span>{{flight.pricePerAdditionalBag}}</span>
                </dd>
                <dt><span>Max Bags Allowed</span></dt>
                <dd>
                    <span>{{flight.maxBagsAllowed}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{flight.discount}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{flight.code}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{flight.deleted}}</span>
                </dd>
                <dt><span>Departure Airport</span></dt>
                <dd>
                    <div *ngIf="flight.departureAirport">
                        <a [routerLink]="['/airport', flight.departureAirport?.id, 'view']">{{flight.departureAirport?.id}}</a>
                    </div>
                </dd>
                <dt><span>Arrival Airport</span></dt>
                <dd>
                    <div *ngIf="flight.arrivalAirport">
                        <a [routerLink]="['/airport', flight.arrivalAirport?.id, 'view']">{{flight.arrivalAirport?.id}}</a>
                    </div>
                </dd>
                <dt><span>Plane</span></dt>
                <dd>
                    <div *ngIf="flight.plane">
                        <a [routerLink]="['/plane', flight.plane?.id, 'view']">{{flight.plane?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/flight', flight.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
