<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-flight-ticket-heading">Create or edit a Flight Ticket</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flightTicket.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="flightTicket.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seatRow">Seat Row</label>
                    <input type="number" class="form-control" name="seatRow" id="field_seatRow"
                        [(ngModel)]="flightTicket.seatRow" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seatCol">Seat Col</label>
                    <input type="number" class="form-control" name="seatCol" id="field_seatCol"
                        [(ngModel)]="flightTicket.seatCol" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_flight">Flight</label>
                    <select class="form-control" id="field_flight" name="flight" [(ngModel)]="flightTicket.flight" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="flightOption.id === flightTicket.flight?.id ? flightTicket.flight : flightOption" *ngFor="let flightOption of flights; trackBy: trackFlightById">{{flightOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="flightTicket.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="isaUserOption.id === flightTicket.user?.id ? flightTicket.user : isaUserOption" *ngFor="let isaUserOption of isausers; trackBy: trackIsaUserById">{{isaUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
