<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="car">
            <h2><span>Car</span> {{car.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Manufacturer</span></dt>
                <dd>
                    <span>{{car.manufacturer}}</span>
                </dd>
                <dt><span>Model</span></dt>
                <dd>
                    <span>{{car.model}}</span>
                </dd>
                <dt><span>Registration</span></dt>
                <dd>
                    <span>{{car.registration}}</span>
                </dd>
                <dt><span>Seats</span></dt>
                <dd>
                    <span>{{car.seats}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{car.type}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{car.price}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{car.discount}}</span>
                </dd>
                <dt><span>Deleted</span></dt>
                <dd>
                    <span>{{car.deleted}}</span>
                </dd>
                <dt><span>Company Location</span></dt>
                <dd>
                    <div *ngIf="car.companyLocation">
                        <a [routerLink]="['/company-location', car.companyLocation?.id, 'view']">{{car.companyLocation?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/car', car.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
